.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
}
.irbefore {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: -1px;
  padding: 0;
}
.visuallyhidden.focusableactive,
.visuallyhidden.focusablefocus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0;
}
.invisible {
  visibility: hidden;
}
.clearfixbefore,
.clearfixafter {
  content: " ";
  display: table;
}
.clearfixafter {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.flag {
  display: table;
  width: 100%;
}
.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}
.flag--top {
  vertical-align: top;
}
.flag--bottom {
  vertical-align: bottom;
}
.flag__image {
  padding-right: 10px;
img
  display: block;
  max-width: none;
}
.flag--rev {
  padding-right: 0;
  padding-left: 10px;
}
.flag__body {
  width: 100%;
}
/* HTML5 Boilerplate v4.3.0 | MIT License | http//h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]after {
    content: " (" attr(href) ")";
  }
  abbr[title]after {
    content: " (" attr(title) ")";
  }
  .ir a:after a[href^="javascript"]after,
  .ir a:after a[href^="#"]after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $black;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $black;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $black;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $black;
}
.halfCircle-up {
  height: 20px;
  width: 40px;
  border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  -webkit-border-radius: 40px 40px 0 0;
  background: $black;
}
.halfCircle-down {
  height: 20px;
  width: 40px;
  border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  -webkit-border-radius: 0 0 40px 40px;
  background: $black;
}
.halfCircle-right {
  height: 40px;
  width: 20px;
  border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0 40px 40px 0;
  background: $black;
}
.halfCircle-left {
  height: 40px;
  width: 20px;
  border-radius: 40px 0 0 40px;
  -moz-border-radius: 40px 0 0 40px;
  -webkit-border-radius: 40px 0 0 40px;
  background: $black;
}
@font-face {
  font-family: 'Underground';
  src: url("https://s3-us-west-2.amazonaws.com/genericafk/P22UndergroundPro-Book.otf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
  font-family: 'Underground', monaco, monospace;
  font-variant: small-caps;
  background: #370e1b;
  color: #fff;
}
body {
  background: transparent;
}
main {
  font-size: 1em;
}
@media screen and (max-width: 600px) {
  main {
    font-size: 0.8em;
  }
}
.bg {
  display: block;
  position: fixed;
/* position absolute */
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
  background-image: url("../img/Textura.svg");
  -webkit-background-size: 150px 150px;
  -moz-background-size: 150px 150px;
  background-size: 150px 150px;
}
header img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 100px auto;
}
.wrapper {
  width: 80%;
  height: auto;
  padding: 50px 0 50px 0;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-height: 768px) {
  .center {
    position: relative;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: auto;
  }
}
main {
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  main {
    font-size: 0.8em;
  }
}
h2 {
  margin: 0 auto 80px auto;
  text-align: center;
  font-size: 2.4em;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 768px) {
  h2 {
    margin: 0 auto 50px auto;
  }
}
p {
  margin: 10px auto 10px auto;
  font-weight: 100;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  text-align: center;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
@media screen and (max-width: 768px) {
  p {
    margin: 5px auto 5px auto;
  }
}
a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  font-size: 1em;
}
article {
  width: 80%;
  margin: auto;
}
footer {
  text-align: center;
  margin: 80px auto 0 auto;
}
@media screen and (max-width: 768px) {
  footer {
    font-size: 0.8em;
    margin: 50px auto 0 auto;
  }
}
footer p {
  display: inline-block;
}
footer p:first-child {
  margin: 10px 10% 10px 0;
}
footer p:last-child {
  margin: 10px 0 10px 10%;
}
@media screen and (max-width: 980px) {
  footer p {
    width: 100%;
    display: block;
  }
  footer p:first-child {
    margin: 10px auto 10px auto;
  }
  footer p:last-child {
    margin: 10px auto 10px auto;
  }
}
