h2
    margin 0 auto 100px auto
    text-align center
    font-size 2.0em
    font-size 2.4em
    letter-spacing 0.2em
p
    margin 10px auto 10px auto
    font-weight 100
    font-size 0.9em
    letter-spacing 0.1em
    line-height 1.2em
    text-align center
    hyphens auto
a
    color $white
    text-decoration none
article
    width 80%
    margin auto

