footer
    text-align center
    margin 100px auto 0 auto
    a
        display inline-block
        &:first-child
            margin 10px 10% 10px 0
        &:last-child
            margin 10px 0 10px 10%
        @media screen and (max-width: 980px)
            width 100%
            display block
            &:first-child
                margin 10px auto 10px auto
            &:last-child
                margin 10px auto 10px auto

