@import 'nib'
@import 'lib/*'
@import 'components/*'

global-reset()

html
    margin 0
    padding 0
    color $white
    background $red
    background-image url('../img/Textura.svg')
    background-position 0 0
    font-family $font
    font-variant small-caps
body
    margin 0
    padding 0
    color $white
    background transparent

@import 'header'
@import 'content'
@import 'footer'
