@import 'nib'
@import 'lib/*'
@import 'components/*'

global-reset()

html
body
    margin 0
    padding 0
    color $white
    background $red
    background-image url('../img/Textura.png')
    /* background-size 465px 465px */
    background-position 0 0
    font-family $font

@import 'header'
@import 'content'
@import 'footer'
