@import 'nib'
@import 'lib/*'
@import 'components/*'

global-reset()
*
    box-sizing border-box
html
body
    margin 0
    padding 0
    height 100%
    width 100%
    display block
    font-family $font
    font-variant small-caps
    background $red
    color $white
body
    background transparent


.bg
    display block
    position fixed
    /* position absolute */
    align-items stretch
    width 100%
    min-height 100%
    z-index -1
    opacity 0.65
    background-image url('../img/Textura.svg')
    background-size 150px 150px

@import 'header'
@import 'content'
@import 'footer'
